<!DOCTYPE html>
<html lang='ru'>
    <head>
        <meta charset='utf-8'>
        <title>Кандидат</title>
    </head>
    <body>
        <h1>Кандидат с id {{candidate.pk}}</h1>
        <hr>
        <br/>
        <p>
            <h2>{{candidate.name}}</h2>
            <p>{{candidate.position}}</p>
        </p>
        <p>
            <p><a href='/candidates/'> Вернуться на страницу со всеми кандидатами</a> </p>
            <p><a href='/'> Вернуться на главную страницу</a> </p>
        </p>
        
    </body>
</html>