<!DOCTYPE html>
<html lang='ru'>
    <head>
        <meta charset='utf-8'>
        <title>Вакансия</title>
    </head>
    <body>
        <h1>Вакансия компании {{vacancy.company}}</h1>
        <hr>
        <br/>
        <p>
            <h2>{{vacancy.position}}</h2>
            <p>{{vacancy.salary}}</p>
        </p>
        <p>
            <p><a href='/vacancies/'> Вернуться на страницу со всеми вакансиями</a> </p>
            <p><a href='/'> Вернуться на главную страницу</a> </p>
        </p>
        
    </body>
</html>